@import url('https://fonts.googleapis.com/css2?display=swap&family=Noto+Sans:wght@400;500;700;900&family=Plus+Jakarta+Sans:wght@400;500;700;800');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --frozen-light-blue: #a8dff4;
  --frozen-blue: #74d4ea;
  --frozen-dark-blue: #0077c2;
  --frozen-purple: #8768a4;
  --frozen-silver: #e2e8f0;
  --frozen-white: #ffffff;
  --frozen-dark-text: #2d3748;
}

body {
  @apply bg-frozen-white text-frozen-dark-text font-sans;
}
